.card-weather {
    width: 20%;
}

.top-status {
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    align-items: center;
}

#forecast-wrapper {
    width: 100%;
    height: 200px;
    border-radius: 13px;
    margin-right: 5%;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: smaller;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: smaller;
    margin: 5px;
}


.head-infos
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
