.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    border-radius: 13px;
    background-color: var(--md-sys-color-on-primary-secondary);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-weather-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#submit-location {
    margin-left: 1%;
}



.card-weather {
    width: 26%;
    min-width: fit-content;
}

.top-status {
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    align-items: center;
}

#forecast-wrapper {
    width: 100%;
    height: 200px;
    border-radius: 13px;
    margin-left: 1%;
    top: 0;
    overflow: hidden;
    position: relative;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: smaller;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: smaller;
    margin: 5px;
}


.head-infos
{
    display: flex;
    justify-content: space-between;
}

#products-list-wrapper {
    width: 20%;
    height: 380px;
    overflow: scroll;
    overflow-x: hidden;
}

#products-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.product-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

.product-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.workout-suggestion-reponse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}